/* BEMを使用 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
ol {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #2b2a27;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

/* recipe */
.recipe {
  display: flex;
}

.recipe__img-area {
  width: 50%;
}

.recipe__img {
  width: 100%;
  height: 700px;

  object-fit: cover;
  vertical-align: bottom;
}

.recipe__content {
  width: 50%;
  padding: 40px 5% 0 5%;
}

.recipe__title {
  margin-bottom: 20px;
  font-size: 1.75rem;
}

.recipe__lead {
  margin-bottom: 40px;
}

.recipe {
  margin-bottom: 60px;
}

.recipe__section-title {
  margin: 40px 0 15px 0;
  padding-bottom: 5px;
  border-bottom: solid 1px #ccc;
  font-size: 1.25rem;
}

.recipe__item {
  display: flex;
  justify-content: space-between;

  padding: 6px 0;

  border-bottom: 1px dotted #cccccc;
}

.recipe__step-list {
  padding-left: 20px;
}

.recipe__step-item {
  padding: 6px 0;

  border-bottom: 1px dotted #cccccc;
}

.recipe__btn {
  text-align: center;
  margin-bottom: 78px;
}

.recipe__btn-link {
  display: inline-block;
  padding: 18px 60px;

  border: solid 1px #2b2a27;

  font-size: 0.875rem;
  text-decoration: none;
}

/* footer */
.footer {
  font-size: 0.75rem;
  padding: 20px;
  text-align: center;
}

.footer__sns {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-bottom: 17px;
}

.footer__sns-item a {
  text-decoration: underline;
}

.footer__copy {
  margin: 0;
}

@media screen and (max-width: 834px) {
  .recipe {
    flex-direction: column;
  }

  .recipe__img-area {
    width: 100%;
  }

  .recipe__img {
    height: auto;
  }

  .recipe__content {
    width: 100%;
    padding: 40px 5% 0;
  }
}