/* BEMを使用 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #2d2d2d;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Crimson Text', serif;
}

/* mv */
.mv {
  width: 90%;
  margin: 60px auto 0;
}

.mv__img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* header */
.header {
  width: 90vw;
  margin: 0 auto 30px auto;
  padding: 32px 0;

  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 60px;

  font-size: 14px;
  font-weight: normal;
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 30px;
}

/* section */
.section {
  width: 90%;
  max-width: 960px;
  margin: 0 auto 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section__img {
  width: 50%;
}

.section__body {
  width: 43%;
}

.section--work .section__body {
  transform: translateX(65px);
}

.section__title {
  margin-top: 10px;
  margin-bottom: 3px;

  font-size: 24px;
  font-weight: normal;
}

.section__subtitle {
  margin-bottom: 20px;
  font-size: 16px;
}

.section__text {
  line-height: 1.5;
}

/* footer */
.footer {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  font-size: 0.875rem;
  padding: 20px 0;
}